<!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
<div class="section">
  <ngx-spinner name="comment" [fullScreen]="false"></ngx-spinner>
    <div class="mb-4">
        <form [formGroup]="commentForm" (ngSubmit)="onComment()">
          <textarea formControlName="content" name="comment" id="comment" cols="30" rows="5" class="form-control"></textarea>
          <div class="text-right mt-2">
              <button type="submit" class="btn btn-info" [disabled]="!commentForm.valid">Comment</button>
          </div>
        </form>
    </div>
    <div *ngFor="let comment of comments">
      <div class="d-flex mb-4">
        <div class="avatar avatar-sm avatar-circle">
            <img class="mainPhotoHeight" src={{comment.imageUrl}} alt="">
        </div>
        <div class="pl-3 flex-grow-1 flex-basis-0">
            <span class="d-block font-weight-bold mb-1">{{comment.userUserName}}</span>
            <p class="mb-2">{{comment.content}}</p>
            <a (click)="onOpenReply(comment.id)" class="btn p-0"><i class="la la-reply"></i> Reply</a>
            <div *ngIf="replyClicked && parentId == comment.id">
              <form [formGroup]="replyForm" (ngSubmit)="onReply()">
                <textarea style="margin-top: 15px;" formControlName="content" name="comment" id={{comment.id}} cols="30" rows="5" class="form-control"></textarea>
                <div class="text-right mt-2">
                  <button type="submit" class="btn btn-info" [disabled]="!replyForm.valid">Reply</button>
                </div>
              </form>
            </div>
        </div>
      </div>
      <div *ngIf="comment.children != []">
        <div *ngFor="let child of comment.children">
          <div class="ml-5 mb-4">
            <div class="d-flex mb-4">
                <div class="avatar avatar-sm avatar-circle">
                    <img class="mainPhotoHeight" src={{child.imageUrl}} alt="">
                </div>
                <div class="pl-3 flex-grow-1 flex-basis-0">
                    <span class="d-block font-weight-bold mb-1">{{child.userUserName}}</span>
                  <p>{{child.content}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- End | Section -->
