<!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
<div class="section">
    <div class="mb-4">
        <div class="d-flex mb-3">
            <span>Rate:</span>
            <div class="text-warning stars pl-2">
                <i class="la la-star"></i>
                <i class="la la-star"></i>
                <i class="la la-star"></i>
                <i class="la la-star"></i>
                <i class="la la-star"></i>
          </div>
        </div>
        <textarea name="comment" id="comment" cols="30" rows="5" class="form-control"></textarea>
        <div class="text-right mt-2">
            <button class="btn btn-info">Comment</button>
        </div>
    </div>
    <div class="d-flex mb-4">
        <div class="avatar avatar-sm avatar-circle">
            <img src="../assets/images/users/thumb.jpg" alt="">
        </div>
        <div class="pl-3 flex-grow-1 flex-basis-0">
            <span class="d-block font-weight-bold mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing</span>
            <div class="text-warning stars mb-2 font-md">
                <i class="la la-star"></i>
                <i class="la la-star"></i>
                <i class="la la-star"></i>
                <i class="la la-star"></i>
                <i class="la la-star-half-empty"></i>
            </div>
            <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda commodi debitis eaque iusto labore, officiis perspiciatis quisquam! Cumque delectus excepturi ipsum maiores numquam officia omnis porro quae quam sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate est et eveniet excepturi exercitationem, fugiat incidunt nesciunt odio placeat reprehenderit sed soluta tempore velit voluptatum. Adipisci delectus nesciunt tempore!</p>
            <a href="#" class="btn p-0"><i class="la la-reply"></i> Reply</a>
        </div>
    </div>
    <div class="ml-5 mb-4">
        <div class="d-flex mb-4">
            <div class="avatar avatar-sm avatar-circle">
                <img src="../assets/images/users/thumb.jpg" alt="">
            </div>
            <div class="pl-3 flex-grow-1 flex-basis-0">
                <span class="d-block font-weight-bold mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing</span>
                <div class="text-warning stars mb-2 font-md">
                    <i class="la la-star"></i>
                    <i class="la la-star"></i>
                    <i class="la la-star"></i>
                    <i class="la la-star"></i>
                    <i class="la la-star-half-empty"></i>
                </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda commodi debitis eaque iusto labore, officiis perspiciatis quisquam! Cumque delectus excepturi ipsum maiores numquam officia omnis porro quae quam sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate est et eveniet excepturi exercitationem, fugiat incidunt nesciunt odio placeat reprehenderit sed soluta tempore velit voluptatum. Adipisci delectus nesciunt tempore!</p>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <div class="avatar avatar-sm avatar-circle">
            <img src="../assets/images/users/thumb.jpg" alt="">
        </div>
        <div class="pl-3 flex-grow-1 flex-basis-0">
            <span class="d-block font-weight-bold mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing</span>
            <div class="text-warning stars mb-2 font-md">
                <i class="la la-star"></i>
                <i class="la la-star"></i>
                <i class="la la-star"></i>
                <i class="la la-star"></i>
                <i class="la la-star-half-empty"></i>
            </div>
            <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda commodi debitis eaque iusto labore, officiis perspiciatis quisquam! Cumque delectus excepturi ipsum maiores numquam officia omnis porro quae quam sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate est et eveniet excepturi exercitationem, fugiat incidunt nesciunt odio placeat reprehenderit sed soluta tempore velit voluptatum. Adipisci delectus nesciunt tempore!</p>
            <a href="#" class="btn p-0"><i class="la la-reply"></i> Reply</a>
        </div>
    </div>
</div>
<!-- End | Section -->
