/BeatsWave/Server/src/Data/BeatsWave.Data/appsettings.json
/BeatsWave/Server/src/Web/BeatsWave.Web/appsettings.json
/BeatsWave/Server/src/Web/BeatsWave.Web/appsettings.Development.json


/BeatsWave/Client/src/assets
/BeatsWave/Client/src/vendors
