$card-img-radius-lg: $radius-lg;
$card-img-radius-md: $radius-md;
$card-img-radius-sm: $radius-sm;
$card-badge-font-size: .75rem;

$card-margin-y: 30px;

$badge-width: 1.25rem;
$badge-height: $badge-width;

$inline-card-img-width: 2.5rem;
