<!-- Page Banner [[ Find at scss/base/core.scss ]] -->
<div class="banner bg-home"></div>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container under-banner-content">
    <div class="row section">
        <div class="col-xl-10 mx-auto">
            <div class="row">
                <div class="col-xl-4 col-md-5">
                    <div class="card h-auto">
                        <div class="card-body text-center">
                            <ngx-spinner name="photoUploader" [fullScreen]="false" ></ngx-spinner>
                            <div class="avatar avatar-xl avatar-circle mx-auto mb-4">
                                <img class="mainPhotoHeight" [src]="userPicture" alt="user">
                            </div>
                            <h6 class="mb-3">{{userProfileForm.value.displayName}}</h6>
                            <button type="button" class="btn btn-danger btn-air" (click)="openImageResizeModal()">Change Image</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-md-7">
                    <div class="card h-auto">
                        <div class="card-body">
                            <form [formGroup]="userProfileForm" (ngSubmit)="editProfile()" class="row">
                                <ngx-spinner name="editProfile" [fullScreen]="false">
                                    <p class="loading">Loading Awesomeness...</p>
                                </ngx-spinner>
                                <div class="col-xl-6 form-group">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" id="firstName" name="firstName" class="form-control"
                                        formControlName="firstName">
                                </div>
                                <div class="col-xl-6 form-group">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control"
                                        formControlName="lastName">
                                </div>
                                <div class="col-12 form-group">
                                    <label for="displayName" class="form-label">Display Name</label>
                                    <input type="text" id="displayName" name="displayName" class="form-control"
                                        formControlName="displayName">
                                </div>
                                <div class="col-12 form-group">
                                    <label for="loc" class="form-label">Location</label>
                                    <input type="text" id="loc" name="loc" class="form-control"
                                        formControlName="location">
                                </div>
                                <div class="col-12 form-group">
                                    <label for="about" class="form-label">About</label>
                                    <textarea name="about" id="about" cols="30" rows="5" class="form-control"
                                        formControlName="biography"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-air" [disabled]="!userProfileForm.valid">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="plan-info-card text-center px-sm-5 py-sm-4 p-3">
                        <h6>{{userSubscription}}</h6>
                        <p>You can upgrade your plan for better benefits.
                        </p>
                        <button type="button" class="btn btn-pill btn-air btn-success" routerLink="/plan">Select
                            Plan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End | Main Container -->
