<perfect-scrollbar style="height: 100vh">
    <div style="background-color: #222629;" class="d-flex align-items-center justify-content-center h-100">
        <div class="text-center px-3">
            <div>
              <div class="txt-center">
                <img style="height: 200px;" src="https://media.giphy.com/media/S4Gh3T1SwITKMhoUTt/giphy.gif" />
              </div>
              <h1 style="color:#FFFFFF" class="txt-h">The page you are looking for does not exist</h1>
              <p style="color: #FFFFFF;" class="txt-p">Keep on browsing</p>
              <div class="favourites-button-empty">
                <button (click)="goToFeed()" class="btn btn-primary btn-air btn-empty">To the feed</button>
              </div>
            </div>
        </div>
    </div>
</perfect-scrollbar>
