<div class="song-list--item-number">{{songNumber < 10 ? '0' + songNumber : songNumber}}</div>

<app-song-horizontal [song]="song" [imageBorderRadiusClass]="imageBorderRadiusClass" [playlist]="playlist"
                     [songIndex]="song.url"></app-song-horizontal>

<ul class="custom-card--labels d-flex ml-auto">
    <a><li (click)="onRemove(song.id)"><ion-icon size="large" name="close-outline"></ion-icon></li></a>
    <li class="ml-4"><app-song-options [icon]="icon" [song]="song"></app-song-options></li>
</ul>
