<a class="btn btn-icon-only w-auto h-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i [class]="icon"></i>
</a>
<ul class="dropdown-menu">
    <li class="dropdown-item">
        <a class="dropdown-link" (click)="addFavorite()">
            <i class="la la-heart-o"></i>
            <span>Favorite</span>
        </a>
    </li>
    <li *ngIf="song" class="dropdown-item">
        <a class="dropdown-link" [routerLink]="'/song/' + song.id + '/details'">
            <i class="la la-info-circle"></i>
            <span>Song Info</span>
        </a>
    </li>
</ul>
