<!-- Page Banner [[ Find at scss/base/core.scss ]] -->
<div class="banner bg-song"></div>
<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <div *ngIf="beatDetails" class="row section text-center text-md-left">
        <div class="col-xl-3 col-lg-4 col-sm-5">
            <img [src]="beatDetails.imageUrl" alt="{{beatDetails.name}}" class="card-img--radius-lg">
        </div>
        <div class="col-xl-9 col-lg-8 col-sm-7">
            <div class="row pt-4">
                <div class="col-xl-8 col-lg-6">
                    <h5>{{beatDetails.name}}</h5>
                    <p class="btn btn-bold btn-pill btn-air btn-primary" (click)="onBeatmakerClicked(beatDetails.producerId)">{{'prod. by' | translate}} {{beatDetails.producerUserName}}</p>
                    <!-- <span class="badge badge-pill badge-warning mt-3">Premium</span> -->
                    <div class="mt-4">
                        <button type="button" class="btn btn-pill btn-air btn-bold btn-danger"
                                (click)="addInPlayer()">{{'Play' | translate}}</button>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="pt-3 pt-lg-0 text-lg-right btn-inline">
                        <button *ngIf="isUserOwner" type="button" class="btn btn-pill btn-air btn-warning btn-icon-only" (click)="edit()"><ion-icon class="icon-details" size='medium' name="create-outline"></ion-icon></button>
                        <button *ngIf="isUserOwner" type="button" class="btn btn-pill btn-air btn-danger btn-icon-only" (click)="delete()"><ion-icon class="icon-details" size='medium' name="trash-outline"></ion-icon></button>
                        <button *ngIf="!isUserOwner" type="button" class="btn btn-pill btn-air btn-warning btn-icon-only" (click)="contact()"><ion-icon class="icon-details" size='medium' name="cash-outline"></ion-icon></button>
                        <button type="button" class="btn btn-pill btn-air btn-danger btn-icon-only" (click)="vote()"><i class="la la-heart-o"></i></button>
                        <button type="button" class="btn btn-pill btn-air btn-brand btn-icon-only"><i class="la la-share-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="section">
        <!-- Begin | Line Tabs [[ Find at scss/framework/components/line-tabs.scss ]] -->
        <ul appLineTabs class="nav nav-tabs line-tabs line-tabs-primary text-uppercase mb-4" id="songDetails" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                   aria-controls="overview" aria-selected="true">{{'Overview' | translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="lyrics-tab" data-toggle="tab" href="#lyrics" role="tab"
                   aria-controls="lyrics" aria-selected="false">{{'Comments' | translate}}</a>
            </li>
        </ul>
        <!-- End | Line Tabs -->
        <!-- Begin | Tab Content -->
        <div *ngIf="beatDetails" class="tab-content" id="songDetailsContent">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item pl-0 border-0">{{'Composed by' | translate}}: <span class="font-weight-bold">{{beatDetails.producerUserName}}</span></li>
                    <li class="list-group-item pl-0 border-0">{{'Price' | translate}}: <span class="font-weight-bold">{{beatDetails.price}}$</span></li>
                    <li class="list-group-item pl-0 border-0" *ngIf="beatDetails.bpm">{{'Bpm' | translate}}: <span class="font-weight-bold">{{beatDetails.bpm}}</span></li>
                    <li class="list-group-item pl-0 border-0" *ngIf="beatDetails.description">{{'Description' | translate}}: <span class="font-weight-bold">{{beatDetails.description}}</span></li>
                </ul>
            </div>
            <div class="tab-pane fade show" id="lyrics" role="tabpanel" aria-labelledby="lyrics-tab">
              <app-comment [beatId]="this.beatDetails.id"></app-comment>
            </div>
        </div>
        <!-- End | Tab Content -->
    </div>
    <!-- End | Section -->


</div>
<!-- End | Main Container -->
