<div class="card" *ngIf="chartData && chartLabels">
    <div class="card-body">
        <h6>Total User</h6>
        <div class="d-flex align-items-center">
            <i class="ion-md-people text-danger font-lg"></i>
            <p class="font-weight-bold pl-2">10,245</p>
        </div>
    </div>
    <div style="height: 150px">
        <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                [colors]="chartColors" [legend]="chartLegend" [chartType]="chartType"></canvas>
    </div>
</div>
