// Landing page banner height variables
$landing-banner-height: 40rem;
$landing-banner-height-md: 34rem;
$landing-banner-height-sm: 28rem;
// Landing page section padding
$landing-section-padding-y: 6rem;
// Landing page auth options margin
$landing-auth-options-margin-x: 1.5rem;
// Landing page feature margin
$feature-margin-x: 30px;