<!-- Page Banner [[ Find at scss/base/core.scss ]] -->
<div class="banner bg-song"></div>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
    <div class="container-header">
        <span class="title">{{beatsCount}} Results</span>
        <div class="ml-auto d-flex align-items-center">
            <select class="select" name="sort" id="sort">
                <option selected="">Popular</option>
                <option value="0">A-Z</option>
                <option value="1">Z-A</option>
            </select>
            <a class="icon" (click)="gridView = !gridView">
                <i class="ion-md-reorder" *ngIf="gridView; else gridViewButton"></i>
                <ng-template #gridViewButton>
                    <i class="ion-md-apps"></i>
                </ng-template>
            </a>
        </div>
    </div>
    <!-- End | Container header -->

    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="section">
        <div *ngIf="beats && beats.length == 0">
            <div class="txt-center">
              <img class="h-300" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/68d5a28b-6cc5-4134-a3a1-c918c313a2c7/d5y4fxb-0be06a3c-1ced-40d8-bb56-6feea8e2af79.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNjhkNWEyOGItNmNjNS00MTM0LWEzYTEtYzkxOGMzMTNhMmM3XC9kNXk0ZnhiLTBiZTA2YTNjLTFjZWQtNDBkOC1iYjU2LTZmZWVhOGUyYWY3OS5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.7qPlko45B8J92cnTFhBnSBKJPgSv1ZHCuyVHQptKpBw" />
            </div>
            <h1 class="txt-h">You do not have any beats</h1>
            <p class="txt-p">What are you waiting for?</p>
            <div class="favourites-button-empty">
              <button (click)="goToUpload()" class="btn btn-primary btn-air btn-empty">Upload</button>
            </div>
        </div>
        <div class="row custom-card-list">
            <ng-container *ngIf="gridView; else listView">
                <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let beat of beats">
                    <app-primary-card [isUserOwner]="true" [song]="beat" [showOptions]="true"></app-primary-card>
                </div>
            </ng-container>
            <ng-template #listView>
                <div class="col-xl-6 col-lg-12" *ngFor="let beat of beats; let i = index">
                    <app-song-list-view [songNumber]="i+1" [song]="beat" [icon]="'la-ellipsis-h'"></app-song-list-view>
                </div>
            </ng-template>
        </div>
    </div>
    <!-- End | Section -->
  </div>
    <!--spinner-->
<!-- End | Main Container -->
