<!-- Page Banner [[ Find at scss/base/core.scss ]] -->
<div class="banner bg-song"></div>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <!-- Begin | Container header [[ Find at scss/base/core.scss ]] -->
    <div class="container-header">
        <span *ngIf="favoriteSongs" class="title">{{favoriteSongs.length}} Results</span>
        <div class="ml-auto d-flex align-items-center">
            <select class="select" name="sort" id="sort">
                <option selected="">Popular</option>
                <option value="0">A-Z</option>
                <option value="1">Z-A</option>
            </select>
            <a class="icon" (click)="gridView = !gridView">
                <i class="ion-md-reorder" *ngIf="gridView; else gridViewButton"></i>
                <ng-template #gridViewButton>
                    <i class="ion-md-apps"></i>
                </ng-template>
            </a>
        </div>
    </div>
    <!-- End | Container header -->

    <!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
    <div class="section">
        <div *ngIf="favoriteSongs" class="row custom-card-list">
            <ng-container *ngIf="gridView; else listView">
                <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let beat of favoriteSongs">
                    <app-primary-card [song]="beat" [showOptions]="true"></app-primary-card>
                </div>
            </ng-container>
            <ng-template #listView>
                <div class="col-xl-6 col-lg-12" *ngFor="let beat of favoriteSongs; let i = index">
                    <app-song-list-view [songNumber]="i+1" [song]="beat" [icon]="'la-ellipsis-h'"></app-song-list-view>
                </div>
            </ng-template>
        </div>
    </div>
    <!-- End | Section -->

    <!-- Songs -->
    <app-section *ngIf="songs" [section]="songs" [carouselButtonPositionClass]="'arrow-pos-3'"
                 [primaryCard]="true" [showImageOptions]="true">
    </app-section>
</div>
<!-- End | Main Container -->
