$nav-margin-top: 2.5rem;
$nav-margin-bottom: 1rem;

$nav-link-padding-x: $sidebar-padding-x;
$nav-link-padding-y: .625rem;
$nav-link-icon-size: 1.325rem;

$nav-header: (
    padding: 1rem $nav-link-padding-x .5rem $nav-link-padding-x,
    font-size: .75rem
);

