<div class="card bg-warning" *ngIf="chartData && chartLabels">
    <div class="card-body">
      <h6>Purchases</h6>
      <div class="d-flex align-items-center">
          <i class="ion-md-cash font-lg"></i>
          <p class="font-weight-bold pl-2">11,012,547</p>
      </div>
    </div>
    <div style="height: 150px">
        <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                [colors]="chartColors" [legend]="chartLegend" [chartType]="chartType"></canvas>
    </div>
</div>
