<!-- Page Banner [[ Find at scss/base/core.scss ]] -->
<div class="banner bg-analytics"></div>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container">
    <div class="section">
        <div class="mb-5">
            <h5><ng-container *ngIf="currentUser">{{'Hi' | translate}}<span class="text-brand">{{currentUser.firstName}}</span>,</ng-container>
              {{'Welcome to BeatsWave' | translate}}</h5>
            <p>{{'There you have a brief analytics section for your music.' | translate}}</p>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="row h-100">
                    <div class="col-sm-4">
                        <app-total-user (isReady)="setUsers()"></app-total-user>
                    </div>
                    <div class="col-sm-4">
                        <app-total-songs (isReady)="setSongs()"></app-total-songs>
                    </div>
                    <div class="col-sm-4">
                        <app-purchases (isReady)="setLikes()"></app-purchases>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <app-statistics (isReady)="setStatistics()"></app-statistics>
            </div>
            <div class="col-md-4">
                <app-referrals (isReady)="setReferals()"></app-referrals>
            </div>
        </div>
    </div>
</div>
<!-- End | Main Container -->
