<div class="modal-dialog theme-dialog" role="document">
    <div class="modal-content lang-content">
        <div class="modal-header">
          <div class="pr-3">
              <h5 class="modal-title mb-1">Language</h5>
              <p class="text-muted">Select a range of your language(s) to listen music.</p>
          </div>
          <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <div class="modal-body">
            <ul class="language-list">
                <li class="language-item">
                    <input type="checkbox" id="l1" checked>
                    <label for="l1">English</label>
                </li>
                <li class="language-item">
                    <input type="checkbox" id="l2">
                    <label for="l2">Hindi</label>
                </li>
                <li class="language-item">
                    <input type="checkbox" id="l3">
                    <label for="l3">Spanish</label>
                </li>
                <li class="language-item">
                    <input type="checkbox" id="l4">
                    <label for="l4">Italy</label>
                </li>
                <li class="language-item">
                    <input type="checkbox" id="l5">
                    <label for="l5">Punjabi</label>
                </li>
                <li class="language-item">
                    <input type="checkbox" id="l6">
                    <label for="l6">Tamil</label>
                </li>
                <li class="language-item">
                    <input type="checkbox" id="l7">
                    <label for="l7">Germany</label>
                </li>
                <li class="language-item">
                    <input type="checkbox" id="l8">
                    <label for="l8">French</label>
                </li>
                <li class="language-item">
                    <input type="checkbox" id="l9">
                    <label for="l9">Telugu</label>
                </li>
                <li class="language-item">
                    <input type="checkbox" id="l10">
                    <label for="l10">Malayalam</label>
                </li>
            </ul>
        </div>
        <div class="modal-footer text-center d-block pb-4">
            <button type="button" class="btn btn-primary btn-pill" (click)="close()">Select</button>
        </div>
    </div>
</div>
