<div class="modal-dialog theme-dialog" role="document">
    <div class="modal-content lang-content">
        <div class="modal-header">
          <div class="pr-3">
              <h5 class="modal-title mb-1">{{'Language' | translate}}</h5>
              <p class="text-muted">{{'Select a language' | translate}}</p>
          </div>
          <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <div class="modal-body">
            <ul class="language-list">
                <li class="language-item">
                    <input (click)="onLangChange($event)" type="checkbox" id="l1" value="en" [checked]="currentLanguage == 'en'">
                    <label for="l1">{{'English' | translate}}</label>
                </li>
                <li class="language-item">
                    <input (click)="onLangChange($event)" type="checkbox" id="l2" value="bg" [checked]="currentLanguage == 'bg'">
                    <label for="l2">{{'Bulgarian' | translate}}</label>
                </li>
            </ul>
        </div>
    </div>
</div>
