$search-ui: (
    radius: 1rem,
    height: 18rem,
    padding: 1.5rem
);

$search-item-margin-y: .5rem;

$search-header-padding-y : .75rem;
$search-link-font-size: .75rem;

$search-body-padding-y: 1rem;
$search-body-child-margin-y: 1rem;
