<div class="modal-dialog theme-dialog" role="document">
    <div class="modal-content">
      <ngx-spinner name="loginModal" [fullScreen]="false"></ngx-spinner>
        <div class="modal-header border-bottom-0 pb-0">
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <img class="form-logo" src="../../../../../assets/images/forms/formLogo.svg" />
        <div class="modal-body">
            <form action="#" [formGroup]="login" class="mx-4 pb-5" (ngSubmit)="submitLogin()">
                <label for="userName">Username</label>
                <div class="form-group">
                    <input [ngClass]="{'red-border-solid': userName.errors && userName.touched}" type="text" formControlName="userName" id="userName" class="form-control"
                           placeholder="Username">
                    <div class="invalid-feedback" *ngIf="userName.errors?.required && userName.touched" ngClass="d-block">
                        <span>This field is required</span>
                    </div>
                </div>
                <label for="password">Password</label>
                <div class="form-group">
                    <input [ngClass]="{'red-border-solid': password.errors && password.touched}" type="password" formControlName="password" id="password" class="form-control"
                           placeholder="Password">
                    <div class="invalid-feedback"*ngIf="password.errors?.required && password.touched" ngClass="d-block">
                        <span>This field is required</span>
                    </div>
                </div>
                <button type="submit" [disabled]="!login.valid" class="btn btn-block btn-bold btn-air btn-info load-page">Login</button>
            </form>
        </div>
    </div>
</div>
