<div class="modal-dialog theme-dialog" role="document">
    <ngx-spinner name="register" [fullScreen]="false"></ngx-spinner>
    <div class="modal-content">
        <div class="modal-header border-bottom-0 pb-0">
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        <h6 class="modal-title text-center mb-3">Login For Awesome Listing Experience</h6>
        <div class="modal-body">
            <form [formGroup]="registerForm" class="mx-4 pb-5" (ngSubmit)="submitRegister()">
                <div class="social-login">
                    <a href="javascript:void(0);" class="w-100 btn btn-social btn-facebook btn-default-air">
                        <span class="btn-content">
                            <i class="ion-logo-facebook"></i>
                            <span class="pl-2">Login With Facebook</span>
                        </span>
                    </a>
                    <a href="javascript:void(0);" class="w-100 mt-3 btn btn-social btn-google btn-default-air">
                        <span class="btn-content">
                            <i class="ion-logo-google"></i>
                            <span class="pl-2">Login With Google</span>
                        </span>
                    </a>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="userName" id="userName" class="form-control"
                        placeholder="Username" required>
                    <div *ngIf="userName.errors?.required && userName.touched" class="invalid-feedback"
                        ngClass="d-block">
                        <span>This field is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="email" id="email" class="form-control" placeholder="Email"
                        required email>
                    <div class="invalid-feedback" *ngIf="!email.valid && email.touched" ngClass="d-block">
                        <span *ngIf="email.errors?.required">This field is required</span>
                        <span *ngIf="email.errors?.email">This must be an email</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" id="password" class="form-control"
                        placeholder="Password" required>
                    <div class="invalid-feedback" *ngIf="password.errors?.required && password.touched"
                        ngClass="d-block">
                        <span>This field is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control"
                        placeholder="Confirm Password" required>
                    <div class="invalid-feedback" *ngIf="registerForm.hasError('notSame') && confirmPassword.touched"
                        ngClass="d-block">
                        <span>Passwords do not match</span>
                    </div>
                    <div class="invalid-feedback" *ngIf="confirmPassword.errors?.required && confirmPassword.touched"
                        ngClass="d-block">
                        <span>This field is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input value="Beatmaker" type="radio" id="customRadioInline1"
                            class="custom-control-input"  formControlName="role">
                        <label class="custom-control-label" for="customRadioInline1">Beatmaker</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input value="Artist" type="radio" id="customRadioInline2"
                            class="custom-control-input"  formControlName="role">
                        <label class="custom-control-label" for="customRadioInline2">Artist</label>
                    </div>
                </div>
                <button type="submit" [disabled]="!registerForm.valid"
                    class="btn btn-block btn-bold btn-air btn-info load-page">Register</button>
            </form>
        </div>
    </div>
</div>