<!-- Page Banner [[ Find at scss/base/core.scss ]] -->
<div class="banner bg-home"></div>

<!-- Begin | Main Container [[ Find at scss/base/core.scss ]] -->
<div class="main-container under-banner-content">
    <div class="row section">
        <div class="col-xl-11 mx-auto">
            <div class="row align-items-xl-center">
                <div class="col-xl-4 mb-4 mb-xl-0">
                    <div class="plan-info-card text-center px-sm-5 py-sm-4 p-3">
                        <h5 class="text-success">Basic</h5>
                        <p>Your <span class="font-weight-bold text-success">Basic</span> subscription plan is going to expired within 10 days please select or change you plan.</p>
                        <button type="button" class="btn btn-pill btn-air btn-primary">Change your Plan</button>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 mb-4 mb-md-0">
                    <div class="plan-card text-center px-sm-5 py-sm-4 p-3">
                        <h5 class="text-warning mb-4">Prime</h5>
                        <ul class="list-group list-group-flush mb-5">
                            <li class="list-group-item">Unlimited free music</li>
                            <li class="list-group-item">Like, Follow, Share etc...</li>
                            <li class="list-group-item">Create playlist</li>
                            <li class="list-group-item">Listen paid track once</li>
                            <li class="list-group-item">Purchase track</li>
                        </ul>
                        <button type="button" class="btn btn-pill btn-air btn-warning">Select Now</button>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="plan-card text-center px-sm-5 py-sm-4 p-3">
                        <h5 class="text-success mb-4">Basic</h5>
                        <ul class="list-group list-group-flush mb-5">
                            <li class="list-group-item">Unlimited free music</li>
                            <li class="list-group-item">Like, Follow, Share etc...</li>
                            <li class="list-group-item">Create playlist</li>
                        </ul>
                        <button type="button" class="btn btn-pill btn-air btn-success">Select Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End | Main Container -->
