<!-- Begin | Section [[ Find at scss/base/core.scss ]] -->
<div class="section">
    <div class="heading">
        <div class="d-flex flex-wrap align-items-end">
            <div class="flex-grow-1">
                <h4>{{section?.title}}</h4>
                <p>{{section?.subTitle}}</p>
            </div>
            <a class="btn btn-sm btn-pill btn-air btn-primary" routerLink="{{section?.page}}">View All</a>
        </div>
        <hr>
    </div>

    <ngx-slick-carousel [class]="classes" [config]="sliderConfig">
        <div ngxSlickItem *ngFor="let item of section?.items" class="slide">
            <app-image-card *ngIf="imageCard" [item]="item" [imageBorderRadiusClass]="imageBorderRadiusClass"
                            [routeLink]="artistRouteLink ? '/artist/' + item.id + '/details' : ''"></app-image-card>

            <app-primary-card *ngIf="primaryCard" [song]="item" [showOptions]="showImageOptions"
                              [imageBorderRadiusClass]="imageBorderRadiusClass"></app-primary-card>

            <app-secondary-card *ngIf="secondaryCard" [item]="item" [imageBorderRadiusClass]="imageBorderRadiusClass">
            </app-secondary-card>
        </div>
    </ngx-slick-carousel>
</div>
<!-- End | Section -->
