// Song item variables
$song-item-margin-y: .75rem;
$song-item-number-font-size: 1.5rem;
$song-item-number-width: 2.5rem;
$song-item-separator-margin-y: 1rem;
$song-item-separator-height: 1px;
$song-item-desc-padding-x: 1rem;
$song-item-image-width-sm: 3rem;
$song-item-info-padding-x: 1rem;
$song-artist-font-size: .815rem;

$song-label-width: 6.25rem;
